@font-face {
    font-family: Electric;
    src: url('../src/font/font-8729425.ttf');
}
.font-electric {
    font-family: 'Electric', var(--bs-body-font-family);
}

@media (min-width:768px) and (min-width:1200px) {
    .bd-masthead .lead {
        font-size: 1.5rem;
    }
}

@media (min-width:768px) {
    .bd-masthead .lead {
        font-size: calc(1.275rem + .3vw);
    }
}

.bd-gutter {
    --bs-gutter-x: 3rem;
}

.bd-masthead h1 {
    font-size: calc(1.525rem + 3.3vw);
    --bs-heading-color: var(--bs-emphasis-color);
}

.bd-header {
    margin-top: calc(3rem + 10vw);
    margin-bottom: calc(3rem + 10vw);
}

.text-recenter {
    text-align: center!important;
}

.text-info-touch {
    color: rgba(var(--bs-info-rgb), 1);
}
.text-info-touch:hover {
    color: rgba(var(--bs-info-rgb), 0.6);
}