@font-face {
    font-family: Electric;
    src: url('../src/font/font-8729425.ttf');
}
.font-electric {
    font-family: 'Electric', var(--bs-body-font-family);
}

@font-face {
  font-family: Beyond;
  src: url('../src/font/font-8236743.ttf');
}
.font-beyond {
  font-family: 'Beyond', var(--bs-body-font-family);
}

@media (min-width:768px) and (min-width:1200px) {
    .bd-masthead .lead {
        font-size: 1.5rem;
    }
}

@media (min-width:768px) {
    .bd-masthead .lead {
        font-size: calc(1.275rem + .3vw);
    }
}

@media (max-width:768px) {
    .col-mx-auto {
        flex: 0 0 auto;
        width: auto;
    }
}

@media (max-width:600px) {
    .bd-banner-main {
        content: url('../src/img/shadow-deop-device.png');
    }    
}
@media (min-width:601px) {
    .bd-banner-main {
        content: url('../src/img/shadow-deop.png');
    }    
}

.bd-gutter {
    --bs-gutter-x: 3rem;
}

.bd-masthead h1 {
    font-size: calc(1.525rem + 3.3vw);
    --bs-heading-color: var(--bs-emphasis-color);
}

.bd-header {
    margin-top: calc(3rem + 10vw);
    margin-bottom: calc(3rem + 10vw);
}

.text-recenter {
    text-align: center!important;
}

.text-info-touch {
    color: rgba(var(--bs-info-rgb), 1);
}
.text-info-touch:hover {
    color: rgba(var(--bs-info-rgb), 0.6);
}

.bright-0 {
    filter: brightness(0);
}
.bright-25 {
    filter: brightness(0.25);
}
.bright-50 {
    filter: brightness(0.5);
}
.bright-75 {
    filter: brightness(0.75);
}
.bright-100 {
    filter: brightness(1);
}